Route: /  controller: indexController Action:index view index

<br/>

<?php foreach($this->views->produtos as $produto):  ?>
    <p><?= $produto["id"] ?></p>
    <p><?= $produto["nome"] ?></p>
    <p><?= $produto["descricao"] ?></p>
    <hr>
<?php endforeach ?>